.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    color: white;
    text-align: center;
    padding: 5px;
}

.footer-items {
    margin-top: 10px;
}